{% extends 'base.html' %}


{% block content %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Endereço</th>
                <th>Ações</th>
            </tr>
        </thead>

        <tbody>
            {% for lasanha in pamonha %}
            <tr>
                <td>{{ lasanha["id"] }}</td>
                <td>{{ lasanha["nome"] }}</td>
                <td>{{ lasanha["endereço"] }}</td>
                <td>
                    <a href="/editar/{{ loop.index - 1 }}">editar</a>
                    <a href="/excluir/{{ loop.index - 1 }}">Excluir</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <form method="post" action="/">
            <div class="mb-3">
                <label for="nome" class="form-label">Nome:</label>
                <input type="text" class="form-control" id="nome" name="nome" placeholder="Escreva seu Nome">
            </div>

            <div class="mb-3">
                <label for="endereço" class="form-label">Endereço:</label>
                <input type="text" class="form-control" id="endereço" name="endereço" placeholder="Escreva seu Endereço">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    {% endblock %}
